<div class="row">
  <input type="button" (click)="getApiData()" value="Load Data">
</div>
<div class="row">
   <div class="col">

     <table class="table table-bordered table-dark">
       <thead>
           <tr>
             <td colspan="4" class="text-center"> User Info  </td>
           </tr>
           <tr>
             <th> Name </th> <th> email</th> <th>phno</th> <th>website</th><th>Address </th> <th>City</th>
           </tr>
       </thead>
       <tbody>
           @for(user of userlist;track $index){
            <tr>
               <td> {{user.name}}</td>
               <td>{{user.email}}</td>
               <td>{{user.phone}}</td>
               <td>{{user.website}}</td>
               <td>{{user.address.street}} , {{ user.address.suite}} , {{user.address.city}} {{user.address.zipcode}}</td>
                <td>{{user.address.city}}</td>
            </tr>

           }


       </tbody>
     </table>

   </div>

</div>
