<div class="row">
      <div class="col-4">
        <form #postformref="ngForm" (ngSubmit)="savePost(postformref)">
             <table class="table table-borderless">
               <tr>
                 <th> User Id :</th>
                 <td><input type="number" ngModel name="userId" size="20" class="form-control"></td>
               </tr>
               <tr>
                 <th> Id :</th>
                 <td><input type="number" ngModel name="id" size="20" class="form-control"></td>
               </tr>
               <tr>
                 <th> title :</th>
                 <td><input type="text" ngModel name="title" size="20" class="form-control"></td>
               </tr>
               <tr>
                 <th> body :</th>
                 <td><input type="text" ngModel name="body" size="20" class="form-control"></td>
               </tr>
              <tr>
                  <td colspan="2" class="text-center">
                    <input type="submit" value="save" class="btn btn-primary">
                    <input type="reset" value="clear" class="btn btn-info">
                  </td>
              </tr>
             </table>
        </form>

      </div>
      <div class="col-6">
               <h5><input type="button" value="load data" class="btn btn-outline-primary" (click)="getPost()"></h5>
          <table class="table table-active">
              <thead>
              <th> UserId</th>
              <th> Id</th>
              <th> title </th>
              <th> Body</th>
              </thead>
             <tbody>
              @for(post of postlist;track $index){
                <tr>
                  <td>{{post.userId}}</td>
                  <td>{{post.id}}</td>
                  <td>{{post.title}}</td>
                  <td>{{post.body}}</td>
                </tr>
              }
             </tbody>
          </table>

      </div>

</div>

