<div class="row">
  <div class="col-6">
    <form [formGroup]="EmployeeForm" (ngSubmit)="addEmployee()">
      <table class="table table-borderless">
          <tr>
            <th> Employee Entry </th>
          </tr>
          <tr>
            <th>Id :</th>
            <td><input type="text" size="20" class="form-control" formControlName="id"> </td>
          </tr>
          <tr>
            <th>Name :</th>
            <td><input type="text" size="20" class="form-control" formControlName="name"> </td>
          </tr>

          <tr>
            <th>Salary :</th>
            <td><input type="text" size="20" class="form-control" formControlName="salary"> </td>
          </tr>
        <tr>
          <td class="text-center">
            <input type="submit"  value="save" class="btn btn-outline-primary m-2" >
            <input type="reset" value="clear" class="btn btn-outline-info">
          </td>
        </tr>


      </table>

    </form>
  </div>
</div>
